.sibebar-container {
  transition: transform ease-out 0.2s;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  .sidebar {
    background-color: rgb(211, 175, 17);
    width: 200px;
    .sidebar-item {
      position: relative;
      right: 0;
    }
  }
  //   top: 0;
}
.close {
    transform: translate(-200px ,0);
    //   width: 0;
}
.open {
    transform: translate(0 ,0);
//   width: 200px;
}
