.sibebar-container {
  transition: transform ease-out 0.2s;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px 0 0 0;
  .sidebar {
    background-color: #5ee9ad;
    height: inherit;
    width: 200px;
    overflow: hidden;
    .sidebar-items-container {
      height: 100%;
      padding: 50px 0 0 0;
      .sidebar-item {
        padding: 0 0 0 20px;
        position: relative;
        right: 0;
      }
    }
  }
}
.sibebar-container.close {
  transform: translate(-200px, 0);
}
.sibebar-container.open {
  transform: translate(0, 0);
  box-shadow: 0 0 10px #1c5973f2;
}
