.sibebar-container {
  transition: transform ease-out 0.2s;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  .sidebar {
    background-color: rgb(211, 175, 17);
    height: inherit;
    width: 200px;
    .sidebar-item {
      position: relative;
      right: 0;
    }
  }
}
.sibebar-container.close {
  transform: translate(-200px, 0);
}
.sibebar-container.open {
  transform: translate(0, 0);
  box-shadow: 0 0 13px black;
}
