header {
    height: 100px;
    background-color:#2AA2D5;
    color: white;
    display: flex;
    justify-content: space-around;
    img {
        margin: auto;
    }
    a {
        // color: unset;
        text-decoration: none;
    }
    .nav-btn {
        height: max-content;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: all ease-out 0.2s ;
        &:hover {
            background-color: white;
            color: rgb(5, 212, 212);
        }
        
    }
}