header {
  padding: 0 20px;
  background-color: blue;
  height: 50px;
  display: flex;
  align-items: center;
  img {
    margin: auto;
    display: block;
  }
  .burger-container {
    padding: 10px;
    cursor: pointer;
    .burger {
      color: white;
    }
  }
}
.body-overlay {
  width: 100%;
}
