$headerHeight: 50px;
header {
  padding: 0 20px;
  background-color: #0f719a;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20000;
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: auto;
    display: block;
  }
  .burger-container {
    padding: 10px;
    cursor: pointer;
    .burger {
      color: white;
    }
  }
}
.body-overlay {
  position: fixed;
  top: 0;
  transition: opacity ease-out 0.2s;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
}
.body-overlay.open {
  width: 100%;
  opacity: 0.6;
}
.body-overlay.close {
  width: 0;
  opacity: 0;
}
